server:
  port: 8080
spring:
  profiles:
    active: dev

---

spring:
  profiles: dev
  datasource:
    url: jdbc:
    username:
    password:
    driver-class-name:
  jpa:
    show-sql: true
    database-platform:
    hibernate:
      ddl-auto: create-drop
    properties:
      jdbc:
        lob:
          non_contextual_creation: true
