server:
  port: 8080
spring:
  profiles:
    active: dev

---

spring:
  profiles: dev
  datasource:
    url: jdbc:
    username:
    password:
    driver-class-name:
  jpa:
    show-sql: true
    database-platform:
    hibernate:
      ddl-auto: create-drop
    properties:
      jdbc:
        lob:
          non_contextual_creation: true

---

spring:
  #envio de email
  mail:
    host: smtp.gmail.com
    port: 587
    protocol: smtp
    username: <seu_email>@gmail.com
    password: <chave de 16 digitos gerada pelo Google Account>
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          quitwait: false

---

aws:
  access_key_id:
  secret_access_key:
s3:
  bucket:
  region:

img:
  prefix:
    client:
      profile: cp
